.NNSWB .Main #A1 h3::after, .NNSWB .Main #A0 .tags a:nth-child(1)::before{content:
    "Fingal Heads Beach";}
.NNSWB .Main #A1 .tags div:nth-child(1)::after{content: 
    "Beach";}
.NNSWB .Main #A1 .tags div:nth-child(2)::after{content: 
    "2km";}
.NNSWB .Main #A1 .tags div:nth-child(3)::after{content: 
    "Lifeguards";}
.NNSWB .Main #A1 .tags div:nth-child(4)::after{content: 
    "Lighthouse Walk";}
.NNSWB .Main #A1 .tags div:nth-child(5)::after{content: 
    "Surf";}
.NNSWB .Main #A1 .tags div:nth-child(6)::after{content: 
    "";}
.NNSWB .Main #A1 p::after{content: "Fingal Heads Beach is a stunning, quiet beach just north of the Fingal Heads Lighthouse.";}


.NNSWB .Main #A2 h3::after, .NNSWB .Main #A0 .tags a:nth-child(2)::before{content:
    "Dreamtime Beach";}
.NNSWB .Main #A2 .tags div:nth-child(1)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(2)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(3)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(4)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(5)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(6)::after{content: 
    "";}
.NNSWB .Main #A2 p::after{content: ".";}


.NNSWB .Main #A3 h3::after, .NNSWB .Main #A0 .tags a:nth-child(3)::before{content:
    "Cabarita Beach";}
.NNSWB .Main #A2 .tags div:nth-child(1)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(2)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(3)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(4)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(5)::after{content: 
    "";}
.NNSWB .Main #A2 .tags div:nth-child(6)::after{content: 
    "";}
.NNSWB .Main #A2 p::after{content: ".";}
